@use '@scss/common' as *;

.wrap {
  overflow: auto;
  margin-bottom: 2rem;

  @include mid-break {
    margin: 0 1px;
  }

  @include g('table') {
    margin-bottom: 1rem;
    overflow: auto;
    max-width: 100%;
    width: 100%;
    border-spacing: 0px;
    border-collapse: collapse;
  }

  @include g('table thead') {
    color: var(--theme-elevation-500);
  }

  @include g('table thead th') {
    @include small;
    font-weight: normal;
    text-align: left;
  }

  @include global-selectors(('table th', 'table td')) {
    padding: 0.75rem;
    min-width: 150px;
    vertical-align: top;
    max-width: 1000px;
    margin: auto;
  }

  @include global-selectors(('table th:first-child', 'table td:first-child')) {
    padding-left: 1.5rem;
  }

  @include global-selectors(('table th:last-child', 'table td:last-child')) {
    padding-right: 1.5rem;
  }

  @include g('table tbody tr:nth-child(odd)') {
    position: relative;
    background: var(--theme-elevation-100);
  }

  @include mid-break {
    @include global-selectors(('table th', 'table td')) {
      padding: 1rem 0.5rem;
    }

    @include global-selectors(('table th:first-child', 'table td:first-child')) {
      padding-left: 1rem;
    }

    @include global-selectors(('table th:last-child', 'table td:last-child')) {
      padding-right: 1rem;
    }
  }
}
